body {
     &::-webkit-scrollbar {
       display: none;
       }
     }
   /* Add this CSS to your stylesheet or style block */
/* Target the ReactQuill placeholder text */
.ql-editor::before {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 100%;
}
.css-af0y01-MuiButtonBase-root-MuiIconButton-root {
  padding: 4px !important;
}
.css-i4bv87-MuiSvgIcon-root {
  width: 35px !important;
 
}
.css-1kkiydd-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-10hburv-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important;
}
.css-1kkiydd-MuiTableCell-root {
  font-family: 'Manrope', sans-serif !important;

}
.css-l838cb-MuiTableCell-root {
  font-family: 'Manrope', sans-serif !important;

}
.css-1a8e7th-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-ahj2mt-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-eflgtu-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-19t76t3-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-9iploz-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important;  
}
.css-1jvpzn2-JoyTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-1rkaxf0-JoyTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-1loafog-JoyTypography-root {
  font-family: 'Manrope', sans-serif !important; 
  font-weight: "900 !important";
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root
{
  font-family: 'Manrope', sans-serif !important; 
}
.css-1bc0hjf-JoyTypography-root
{
  font-family: 'Manrope', sans-serif !important; 
  font-weight: "bold !important";
}
.css-1kyqupa-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-16rzx80-MuiTableCell-root {
  font-family: 'Manrope', sans-serif !important; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1tfmmhx-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-fxncne-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-3gc6nq-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1pwbw63-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-17iho3w-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-zzywh3-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-njwj15-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.ql-container {
  font-family: 'Manrope', sans-serif !important; 
}
.css-1mv2z81-MuiDrawer-docked .MuiDrawer-paper {
  width: 250px !important;
}
.css-ddefkx-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-vig8uf-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-l838cb-MuiTableCell-root {
  font-size: 15px !important;
}

.css-1c31su5-MuiTableCell-root {
  font-size: 15px;
  font-weight: 500;
}
.css-rquyf9-MuiTableCell-root {
  font-size: 15px !important;
}

body {
  font-family: 'Manrope', sans-serif !important; 
}
.css-1c31su5-MuiTableCell-root {
  font-family: 'Manrope', sans-serif !important; 
  font-weight: bold !important;
}
.css-rquyf9-MuiTableCell-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-19js4a9-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1i12ncx-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1c31su5-MuiTableCell-root {
  font-size: 15px !important;
}
.css-1bofi2j-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1c31su5-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}

.css-ecpi1k-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1w21huq-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1ex1afd-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-11d8ruy-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-rquyf9-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-l838cb-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-weight: 600 !important;
}
.css-od95hm-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}
.css-1q6vbkx-MuiTableCell-root {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26)!important;
}

.custom-table-body {
  margin-left: 5px !important;
}
.css-120i31m-MuiTypography-root {
  font-family: 'Manrope', sans-serif !important; 
}
.css-ddefkx-MuiTableCell-root
{
  font-family: 'Manrope', sans-serif !important; 
}
.css-10hburv-MuiTypography-root {
  font-size: 14px !important;
}
.css-ehenct-JoyTypography-root {
  font-size: 14px !important;
}
.css-1d6mxfo-JoyTypography-root {
  font-size: 14px !important;
}
.css-1d6mxfo-JoyTypography-root {
  font-size: 14px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input
{
  height: 10px !important;
}


.css-1a8e7th-MuiTypography-root {
  font-size: 14px !important;
}
.signup1_container {
  @media (min-width: 100px) and (max-width: 599px) {
    max-width: 350px !important;
    min-height: 50px !important;
    
    background:"red"
  }
  @media (max-width: 600px) {
    width: 300px;
    background:"red"
  }

  @media (max-width: 800px) {
    max-width: 500px !important;
    
    background:"red"
  }
  @media (min-width: 601px) and (max-width: 900px) {
    max-width: 650px !important;
    min-height: 50px !important;
    
    background:"red"
  }
  @media (min-width: 901px) and (max-width: 1020px) {
    max-width: 708px !important;
    min-height: 50px !important;
   
    
    background:"red"
  }

}

